<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelClicked.emit()"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="content-wrapper">
  <ng-content></ng-content>
</div>
@if (isConfirmDialog) {
  <div class="confirm-action-container">
    <ion-button strong="true" shape="round" (click)="confirmClicked.emit()">Confirm</ion-button>
  </div>
}
