@if (!$isMobile()) {
  <ion-modal
    ><ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelClicked.emit()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirmClicked.emit()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar> </ion-header
    ><ng-content></ng-content
  ></ion-modal>
} @else {
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancelClicked.emit()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirmClicked.emit()" [strong]="true">Confirm</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-content></ng-content>
  </ion-content>
}

<ng-template #content>
  <div class="wrapper">
    <h1>{{ title }}</h1>
  </div>
</ng-template>
