@use "mixins" as *;
@use "variables" as *;

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: $borderRadius;
  background-color: $transparentBackground;

  .list-title {
    @include prevent-select;
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    margin-bottom: 0.5rem;

    .group-message {
      @include icon-button;
      margin-left: 0.5rem;
    }
  }
}
