@use "variables" as *;

.group-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 6rem;
  border-radius: $borderRadius;
  padding: 1rem;
  background-color: $primaryColor;
  transition: 0.3s;

  font-size: $fontSize-m;

  ion-icon {
    font-size: 3rem;
  }

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px 0px;
  }

  @media screen and (max-width: $mobileBrakePoint) {
    width: 10rem;
    height: 5rem;

    font-size: $fontSize-s;

    ion-icon {
      font-size: 2.5rem;
    }
  }
}
