//Media query variables

$mobileBrakePoint: 480px;
$tabletBrakePoint: 768px;
$desktopBrakePoint: 992px;

//Variables

$borderRadius: 8px;
$fontSize-xs: 1rem;
$fontSize-s: 1rem;
$fontSize-m: 1.5rem;
$fontSize-l: 2rem;
$fontSize-xl: 3rem;

//Colors

$pageBackgroundColor: var(--ion-color-dark);
$primaryColor: var(--ion-color-primary);
$secondaryColor: var(--ion-color-secondary);
$tertiaryColor: var(--ion-color-tertiary);
$fontColor: var(--ion-color-light);
$transparentBackground: rgba(0, 0, 0, 0.15);
