//Media query variables

$mobileBrakePoint: 480px;
$tabletBrakePoint: 768px;
$desktopBrakePoint: 992px;

//Variables

$borderRadius: 6px;

//Colors

$pageBackgroundColor: var(--ion-color-dark);
$primaryColor: var(--ion-color-primary);
$secondaryColor: var(--ion-color-secondary);
$tertiaryColor: var(--ion-color-tertiary);
$fontColor: var(--ion-color-light);
