.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 1000;
}

.top-toolbar {
  top: 3rem;
  left: 50%;
  transform: translate(-50%);
}

.right-toolbar {
  right: 0;
  top: 50%;
  transform: translate(-50%);
}
