<div
  class="container"
  *ngIf="{ showPassword: !!(showPassword$ | async) } as data"
>
  <div class="login-form-container">
    <div class="title-container">
      <span class="title">Login</span>
    </div>
    <div class="input-container">
      <dnd-form-input
        [startIcon]="'mail'"
        [label]="'E-mail'"
        [type]="'email'"
        [placeholder]="'your.email@gmail.com'"
      ></dnd-form-input>
      <dnd-form-input
        [startIcon]="'lock-closed'"
        [label]="'Password'"
        [placeholder]="'password'"
        [type]="data.showPassword ? 'text' : 'password'"
        [endIcon]="data.showPassword ? 'eye-off' : 'eye'"
        (endIconClicked)="toggleShowPassword()"
      ></dnd-form-input>
    </div>
    <ion-button class="login-button" size="small" shape="round" color="primary"
      ><span class="login-button-text">Login</span></ion-button
    >
  </div>
</div>
